python-dotenv
openai
pinecone-client

llama-index
llama-index-vector-stores-pinecone
llama-index-embeddings-openai
llama-index-readers-file

tqdm
docx2txt
redis

# Backend API
fastapi
uvicorn[standard]
pydantic

# Database (for logging)
supabase

structlog

fastapi-limiter==0.1.6
tenacity

twilio

llama-index-readers-notion

pypdf
tiktoken